#modal {
  background: rgba(2, 1, 6, 0.90);
  backdrop-filter: blur(12px);
}
#modal .modalContent {
  @apply relative w-full rounded-[12px];
  padding: 12px 12px 16px 12px;
  border: 1px solid #2c2b30;
  background: rgba(38, 39, 43, 0.24);
}
#modal .modalContent .modalHeader {
  @apply flex justify-center items-center text-center mb-[12px] relative min-h-[32px];
}
#modal .modalContent .modalHeader .modalTitle {
  @apply text-[14px] font-[600] text-[#b9c0d4] relative z-[2];
}
#modal .modalContent .modalHeader .btnClose {
  @apply ml-auto absolute top-[0] right-[0];
}
