// .blurredSpot {
//     will-change: transform;
//     transform-style: preserve-3d;
//     filter: blur(300px);
//     background-color: #6553eb;
//     border-radius: 999px;
//     width: 25vw;
//     height: 25vw;
// }

.blurredSpot {
    position: fixed;
    left: 0;
    top: 0;
    width: 15vw;
    height: 15vw;
    pointer-events: none;
    background-color: #6553eb;
    border-radius: 999px;
    filter: blur(200px);
    transition: left 0.2s ease-out, top 0.2s ease-out;
}
