.slider-container {
  position: relative;
  width: 100%;
}

.slider-container input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #48485b;
  border-radius: 5px;
  outline: none;
}

.slider-container input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 6px solid #6a57f6;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease-in-out;
}

.slider-value {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #6a57f6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.slider-marks {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  transform: translateY(-50%);
}

.slider-mark {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: -1;
  &.active {
    display: none;
  }
}
